myenv/
*.env
__pycache__/
# db.sqlite3
settings.py
*.pyc
migrations/
media/
*.vscode
.history/
debug.log
.idea/workspace.xml
installodbc.sh
*.log
*.log.*
installodbc.sh
asgi.py
routing.py
static/
.idea/
env/
ocr_temp/
